

<!-- Page Header -->
<div  class="pageHeader">
  <div class="row">
    <div class="col-xs-6">
      <h2>Document & App Downloader</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="tab-over">
      <a href='views/layouts/privacy-policy.pdf' >Privacy Policy</a>
  </div>
</div>
<div class="row">
  <div class="tab-over">
      <a href='views/layouts/terms-of-use.pdf' >Terms of Use</a>
  </div>
</div>

</div>
<div class="row">
  <div class="tab-over">
      <a href='../data/patientcare.apk' >Download PARC Coach Android app</a>
  </div>
</div>



