

<!-- Page Header -->
<div  class="pageHeader">
  <div class="row">
    <div class="col-xs-6">
      <h2>Document & App Downloader</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="tab-over">
      <a href='views/layouts/privacy-policy.html' >Privacy Policy</a>
  </div>
</div>
<div class="row">
  <div class="tab-over">
      <a href='views/layouts/terms-of-use.html' >Terms of Use</a>
  </div>
</div>

</div>
<div class="row">
  <div class="tab-over">
      <a href='../data/parccoach-dev-kph.apk' >Download PARC Coach Android DEV app</a>
  </div>
</div>
<div class="row">
  <div class="tab-over">
      <a href='../data/parccoach-altdev.apk' >Download PARC Coach Android ALT DEV app</a>
  </div>
</div>



