

<!-- Page Header -->
<div  class="pageHeader">
  <div class="row">
    <div class="col-xs-6">
      <h2>Document & App Downloader</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="tab-over">
      <a href='views/layouts/hospital.pdf' >Hospital Brochure</a>
  </div>
</div>
<div class="row">
  <div class="tab-over">
      <a href='views/layouts/brochure.pdf' >Patient Brochure</a>
  </div>
</div>
<div class="row">
  <div class="tab-over">
      <a href='views/layouts/installation.pdf' >Installation Instructions</a>
  </div>
</div>
<div class="row">
  <div class="tab-over">
      <a href='views/layouts/consent-form.pdf' >Consent form</a>
  </div>
</div>
<div class="row">
  <div class="tab-over">
      <a href='../data/patientcare.apk' >Download PatientCare Android app</a>
  </div>
</div>



